body{
	display: flex;
    justify-content: center; 
    align-items: center; 
}
div{
	border-width: 10px;
	text-align: left;
}
.all{
	background-color: #f3e1dd;
	border-width: 5px;
	text-align: center;
	width: 300px;
	height: 500px;
	vertical-align: middle;
	border-color: black;
	font-family: Comic Sans MS, Comic Sans, cursive;
	border-style: dashed;
}
.result{
	color: rgb(100, 0, 0);
	float: left;
}

span{
	background-color: #f3e1dd;
	text-align: center;
	border-width:10px;
}
.button{
	background-color: black;
	color: yellow;
}

.button:hover{
	background-color: red;
}